<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.foodhealthrating"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required permission for using the camera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="Food Health Rating"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodHealthRating">

        <!-- Launcher Activity (set to HomeActivity or MainActivity as desired) -->
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>
</manifest>
